@import url(http://fonts.googleapis.com/css?family=Share+Tech);

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.clickable {
    pointer-events: all;
}

#map {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#top-layer {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#reset-layer {
    z-index: 3;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#eye {
    width: 100%;
    height: 100%;
}

#mask {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

/* progress bar */

.lower-left {
    width: 400px;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    margin: auto;
    font-family: 'Share Tech', sans-serif;
    color: #444;
}

.progressCircle {
    stroke: #222;
    stroke-width: 6px;
}

#progress-arc {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

#percent {
    line-height: 20px;
    height: 20px;
    width: 200px;
    top: 90px;
    font-size: 43px;
    text-align: center;
    color: #3da08d;
    opacity: 0.8
}

p, .btn {
    position: relative;
    left: 220px;
    width: 200px;
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    top: 30px;
}

.btn {
    text-align: center;
    background: #5fc2af;
    color: #fff;
    width: 120px;
    height: 37px;
    line-height: 37px;
    cursor: pointer;
}

input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #eee;
    width: 30px;
    font-size: 24px;
    text-transform: capitalize;
    font-family: 'Share Tech', sans-serif;
    background: transparent;

}

body {
    background: white;
    height: 100%;
    width: 100%;
}

section {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

p {
    font-size: 1.15em;
    color: inherit;
}

.center {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.roboto-300 {
    font-family: 'Roboto';
    font-weight: 300;
}

.pushdown-10p {
    padding-top: 10%;
}

#sec-1 {
    padding-top: 15%;
    padding-bottom: 15%;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    background-color: black;
}

#sec-1a {
    padding-top: 15%;
    padding-bottom: 15%;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    background-color: black;
}

#sec-2, #sec-3, #sec-4 {
    padding-top: 15%;
    padding-bottom: 15%;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    bottom: 7px;
}

#sec-4 {
    bottom: 0;
}

#sec-3 {
    /*background: rgba(9, 15, 14, 0.95);*/
    background-image: -o-linear-gradient(180deg, rgba(9, 15, 14, 0) 0%, rgba(9, 15, 14, 0.95) 45%, rgba(9, 15, 14, 0) 90%);
    background-image: -moz-linear-gradient(180deg, rgba(9, 15, 14, 0) 0%, rgba(9, 15, 14, 0.95) 45%, rgba(9, 15, 14, 0) 90%);
    background-image: -webkit-linear-gradient(180deg, rgba(9, 15, 14, 0) 0%, rgba(9, 15, 14, 0.95) 45%, rgba(9, 15, 14, 0) 90%);
    background-image: -ms-linear-gradient(180deg, rgba(9, 15, 14, 0) 0%, rgba(9, 15, 14, 0.95) 45%, rgba(9, 15, 14, 0) 90%);
    background-image: linear-gradient(180deg, rgba(9, 15, 14, 0) 0%, rgba(9, 15, 14, 0.95) 45%, rgba(9, 15, 14, 0) 90%);
}

.no-margin {
    margin: 0 !important;
}

.trek-foot {
    padding: 0px !important;
    margin: 0px !important;
    background: #01579b !important;
}

.black-wine {
    color: white;
    background-color: #000 !important;
}

.green-mint {
    background: #01579b !important;
}

